trigger:
- master
- publish

pool:
  vmImage: ubuntu-latest

steps:
- script: |
    git clone https://github.com/flutter/flutter.git -b stable
    echo "##vso[task.prependpath]$(System.DefaultWorkingDirectory)/flutter/bin"
    flutter doctor
  displayName: Install Flutter

- script: flutter pub get
  displayName: Pub get

- script: flutter test
  displayName: Run tests

- script: flutter build apk --debug
  displayName: Build Debug APK
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/publish'))

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: build/app/outputs/flutter-apk/app-debug.apk
    ArtifactName: android-apk
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/publish'))