trigger:
- main

pool:
  vmImage: ubuntu-latest   # Best for Android builds

steps:
- script: |
    git clone https://github.com/flutter/flutter.git -b stable
    echo "##vso[task.prependpath]$(System.DefaultWorkingDirectory)/flutter/bin"
    flutter doctor
  displayName: Install Flutter

- script: flutter pub get
  displayName: Pub get

- script: flutter test
  displayName: Run tests

- script: flutter build apk --debug
  displayName: Build Debug APK

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: build/app/outputs/flutter-apk/app-debug.apk
    ArtifactName: android-apk
