name: Flutter Build

on:
  push:
    branches:
      - master
      - publish

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: pub get
        run: flutter pub get

      - name: Generate Hive adapters
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Run tests
        run: flutter test

      - name: Build Debug APK
        if: github.ref == 'refs/heads/publish'
        run: flutter build apk --debug

      - name: Upload APK
        if: github.ref == 'refs/heads/publish'
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: build/app/outputs/flutter-apk/app-debug.apk